*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.outer-container{
  width: 100%;
  height: 100%;
}
.main-container{
  width: 100%;
  height: 100%;
}

/* Login Section */
.login-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  border-radius: 9px;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  box-shadow: 20px 20px 50px grey;
}
.login-form{
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-logo{
  font-family: 'Bungee', cursive;
  color: red;
  font-size: 2rem;
}
.login-title{
  margin-top: 1em;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.username, .password, .accountName, .email{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.errorLogin{
  color: red;
}
#username, #password, #accountName,#email{
  padding: 2px 5px;
  margin-left: 5px;
}


.login-button{
  font-weight: 700;
  color: white;
  margin-top: 1em;
  border-radius: 5px;
  background-color: red;
  padding: 5px 10px;
  cursor: pointer;
}
.sign-up{
  display: block;
  margin-top: 1em;
}
.sign-up a{
  text-decoration: underline;
  color: red;
}
.accountName-color{
  color: red;
}
.username-color{
  color: red;
}
.email-color{
  color: red;
}
#signup-link{
  cursor: pointer;
}
/* Sign-up Container */
.signup-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  border-radius: 9px;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  box-shadow: 20px 20px 50px grey;
}
.signup-form{
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Dashboard Section */
.main-container{
  display: grid;
  grid-template-rows: 10vh 90vh;
  width: 100%;
  margin: auto;
}
.dashboard-header{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
}
.dashboard-logo{
  font-family: 'Bungee', cursive;
  color: red;
  align-self: center;
  justify-self: center;
}
.title{
  font-family: 'Bungee', cursive;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  margin-top: 1em auto;
}
.dashboard-container{
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  margin: auto;
  padding: 1em;
}
/* Dashboard Container */
.dashboard-container{
  display: grid;
  grid-template-rows: 50% 50%;
  row-gap: 1em;
}
/* .dasboard-section{

} */
.dashboard-title{
  font-family: 'Bungee', cursive;
  margin-left: 1em;
}
/* Bank Section */
.bank-section{
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 2em;
  padding: .5em;
  text-align: center;
}
.features-mainContainer{
  width: 100%;
  height: 100%;
}
.features-section{
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1em;
  row-gap: 1em;
  text-align: center;
}
/* deposit */
.deposit-section{
  box-shadow: 20px 20px 50px grey;
}

.deposit{
  width: 100%;
  height: 100%;
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
}
.deposit-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
::-webkit-input-placeholder {
  text-align: center;
}
.deposit-form label{
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}
.cancel-button{
  font-weight: 700;
  color: white;
  margin-top: 5px;
  border-radius: 5px;
  background-color: red;
  padding: 5px 10px;
  cursor: pointer;
}
.withdraw-section{
  box-shadow: 20px 20px 50px grey;
}
.withdraw{
  width: 100%;
  height: 100%;
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
}
.withdraw-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.withdraw-form label{
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}
.sendMoney-section{
  box-shadow: 20px 20px 50px grey;
}
.sendMoney{
  width: 100%;
  height: 100%;
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
}
.sendMoney-form{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-top: 1em;
}
#sendMoney-label{
  margin: 10px auto;
}
.history{
  box-shadow: 20px 20px 50px grey;
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
}
.history-section caption{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 10px;
}
.table-history{
  width:100%;
  table-layout: auto;
}

.user-info-section{
  background-color: rgb(233, 233, 233);
  box-shadow: 20px 20px 50px grey;
  border-radius: 7px;
}
.balance-diplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}
#accountName-display{
  font-size: 1rem;
  font-weight: 700;
}
#current-money{
  font-size: 50px;
  font-weight: 700;
}
/* update account */
.account-container{
  font-size: 13px;
}
.updateAccount-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.updateAccount-title{
  margin-top: 5px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  font-weight: bold;
}
.update-username, .update-password, .update-accountName,.update-email{
  margin-bottom: 5px;
}
.logout{
  display: flex;
  
}
.update-button{
  font-weight: 700;
  color: white;
  border-radius: 5px;
  background-color: red;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px 5px 0px 5px ;
}

/* Expense Section */
.expense-container{
  width: 100%;
  height: 90%;
}
.expenses-title{
  font-family: 'Bungee', cursive;
  margin-left: 1em;
}
.expense-section{
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 2em;
  padding: .5em;
  height: 100%;

}
.expense-cost-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  padding: 1em;
  height: 100%;
}
.expense-cost{
  display: flex;
  justify-content: space-evenly;
}
.expense, .cost{
  display: flex;
  flex-direction: column;
}

.addexpense-button{
  font-family: 'Bungee', cursive;
  width: max-content;
  margin-top: 1em;
  border-radius: 5px;
  background-color: red;
  padding: 5px 10px;
  text-align: center;
  align-self: center;
}
.expense-lists{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  padding: 1em;
}
.item-lists{
  display: grid;
}
.expense-lists-title{
  text-align: center;
  font-weight: bold;
}
.computeBalance{
  display: grid;
}
.compute-balance-title{
  text-align: center;
  font-weight: bold;
}



.edit-icon{
  background-image: url("./images/edit-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  background-size: 100%;
}
.delete-icon{
  background-image: url("./images/delete-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  background-size: 100%;
}
.update-expense-list{
  background-image: url("./images/check-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  background-size: 100%;
}
.cancelupdate-expense-list{
  background-image: url("./images/x-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  background-size: 100%;
}



